.nav {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%; }
  .nav__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px; }
    .nav__row_first {
      justify-content: space-between; }
    .nav__row_second {
      justify-content: center; }
  .nav__separator {
    max-width: 100%;
    height: 2px;
    background-color: black;
    margin: 0; }

.list {
  margin: 0; }
  .list_no-style {
    list-style: none; }
  .list__item_margin10 {
    margin-right: 10px; }
  .list__item_margin15 {
    margin-right: 15px; }
  .list__item_horizontal {
    display: inline-block; }

.link {
  text-align: center; }
  .link_circular-border {
    border: 2px solid;
    padding: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%; }

.tags-box {
  background-color: white;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
  text-transform: uppercase;
  text-align: center; }
  .tags-box__title {
    color: cyan;
    position: relative;
    display: inline-block;
    margin: 25px; }
  .tags-box__title__text {
    margin-bottom: 5px; }
  .tags-box__title__text:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid cyan; }
  .tags-box__tags {
    text-align: left; }
    .tags-box__tags__tag {
      cursor: pointer;
      font-size: x-small;
      background-color: #E8E8E8;
      border-radius: 20px;
      margin: 5px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 10px;
      padding-right: 10px;
      display: inline-block; }
