h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: 'Lato'; }

h1 {
  font-size: 4.5vw;
  letter-spacing: 4px; }

h2 {
  font-size: 4vw;
  letter-spacing: 3px; }

h3 {
  font-size: 3vw;
  letter-spacing: 2px; }

h4 {
  font-size: 2.5vw;
  letter-spacing: 2px; }

h5 {
  font-size: 2vw;
  letter-spacing: 2px; }

h6 {
  font-size: 1.5vw;
  letter-spacing: 2px; }

p {
  font-size: 1.1vw;
  letter-spacing: 1px; }

.row {
  padding: 30px;
  max-width: 90%; }
  @media only screen and (max-width: 700px) {
    .row {
      padding: 10px;
      max-width: 100%; } }

.article {
  text-align: left;
  padding: 30px; }
  @media only screen and (max-width: 700px) {
    .article {
      padding: 10px; } }
  .article__paragraph {
    line-height: 200%; }
  .article__paragraph, .article__image, .article__title {
    margin-bottom: 50px; }
  .article__tags, .article__subtitle {
    margin-bottom: 25px; }
  .article__share {
    margin-bottom: 25px; }
    .article__share__title {
      display: inline-block;
      padding-right: 50px; }

.nav {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  color: #2e3736; }
  .nav__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px; }
    .nav__row_first {
      justify-content: space-between;
      position: relative; }
      .nav__row_first__logo {
        position: absolute;
        bottom: -6px;
        left: calc(50% - 32px); }
        @media only screen and (max-width: 700px) {
          .nav__row_first__logo {
            display: none; } }
    .nav__row_second {
      justify-content: center;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 30px; }
  .nav__search {
    border: 0;
    display: none;
    font-size: xx-large; }
    .nav__search:focus {
      outline: none; }
  .nav__separator {
    max-width: 100%;
    height: 2px;
    background-color: black;
    margin: 0; }

.list {
  margin: 0; }
  .list_no-style {
    list-style: none; }
  .list__item_margin10 {
    margin-right: 10px; }
  .list__item_margin20 {
    margin-right: 20px; }
    @media only screen and (max-width: 700px) {
      .list__item_margin20 {
        margin-right: 10px;
        font-size: small; } }
  .list__item_margin15 {
    margin-right: 15px; }
  .list__item_horizontal {
    display: inline-block; }

.link {
  text-align: center;
  color: #2e3736; }
  .link_circular-border {
    border: 2px solid;
    padding: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%; }

.tags-box {
  background-color: white;
  padding: 20px 6px 20px 6px;
  margin-left: 10%;
  margin-right: 10%;
  text-transform: uppercase;
  text-align: center; }
  .tags-box__tags {
    text-align: left; }

.tag {
  cursor: pointer;
  font-size: x-small;
  background-color: #E8E8E8;
  border-radius: 20px;
  margin: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block; }
  .tag_big {
    font-size: small; }
    @media only screen and (max-width: 700px) {
      .tag_big {
        font-size: x-small; } }
  @media only screen and (max-width: 700px) {
    .tag {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 5px;
      padding-right: 5px; } }

.btn {
  border-radius: 4px;
  cursor: pointer;
  padding: 11px 17px 11px 17px;
  color: #fdfdfd;
  font-size: medium;
  border: 0px;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 900; }
  .btn_primary {
    background-color: #1683fb;
    box-shadow: 2px 2px 0px 1px #0a79f1; }
  .btn_watermelon {
    background-color: #fb5153;
    box-shadow: 2px 2px 0px 1px #f14749; }
  .btn_grey {
    background-color: #f0f0f0;
    color: #2e3736;
    box-shadow: 2px 2px 0px 1px #e6e6e6; }
  .btn_share {
    padding: 10px;
    min-width: 80px;
    display: inline-flex;
    justify-content: space-between;
    box-shadow: 0px 0px 0px #888; }
    @media only screen and (max-width: 700px) {
      .btn_share {
        min-width: 50px;
        padding: 5px;
        font-size: small; } }

.badge {
  display: inline-block;
  color: #bebebe;
  font-size: xx-small;
  margin-right: 10px; }
  .badge__icon {
    margin-right: 1px; }
  .badge_small {
    font-size: xx-small; }
  .badge_big {
    font-size: small; }

.hero {
  text-align: left;
  width: 60%;
  margin: 20px 10px 20px 10px; }
  .hero__category {
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: bold;
    margin-bottom: 7px; }
    .hero__category_big {
      font-size: small; }
    .hero__category_small {
      font-size: xx-small; }
    .hero__category_cat1 {
      color: #f4b52a; }
    .hero__category_cat2 {
      color: #135bf6; }
    .hero__category_cat3 {
      color: #cab727; }
    .hero__category_cat4 {
      color: #50cf25; }
  .hero__title {
    display: block;
    font-weight: bold; }
    .hero__title_light {
      color: #fdfdfd; }
    .hero__title_dark {
      color: #2e3736; }

.img {
  background-size: cover; }
  .img_rectangle {
    width: 100%;
    padding: 0; }
    .img_rectangle:after {
      content: '';
      display: block; }
    .img_rectangle_height70 {
      padding-top: 70%; }
    .img_rectangle_height50 {
      padding-top: 50%; }
  .img_margined {
    margin-bottom: 15px; }
  .img_circled {
    border-radius: 50%;
    width: 60%;
    height: auto; }
    .img_circled:before {
      content: '';
      display: block;
      padding-top: 100%; }

.person {
  width: 100%;
  min-height: 300px; }

.title {
  position: relative; }
  .title_margined {
    margin-bottom: 10px; }
  .title__text {
    display: inline-block;
    margin-bottom: 7px;
    font-weight: bold; }
    .title__text:after {
      content: "";
      width: 20px;
      position: absolute;
      bottom: 0;
      height: 1px;
      left: calc(50% - 10px);
      background-color: black; }

.card {
  background-color: white;
  margin: 10px;
  backface-visibility: hidden;
  transition: all 0.3s ease-in; }
  .card_big {
    height: 500px; }
  .card_medium {
    height: 350px; }
  .card_small {
    height: 150px; }
  .card__content {
    padding: 2px 10px 2px 10px;
    display: flex;
    height: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: space-between; }
  .card_shadowed {
    box-shadow: 0px 0px 14px 3px #e6e6e6; }
  .card_flipping {
    position: absolute;
    top: 0;
    width: 250px;
    transform: rotateY(0); }
  .card_flipping-reversed {
    backface-visibility: hidden;
    position: absolute;
    width: 250px;
    background: linear-gradient(blueviolet, blue);
    color: white;
    /* Standard syntax */
    top: 0;
    transform: rotateY(-180deg); }

.relative-container {
  position: relative; }
  .relative-container:hover .card_flipping {
    transform: rotateY(180deg); }
  .relative-container:hover .card_flipping-reversed {
    transform: rotateY(0); }

.newsfeed__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  margin-bottom: 10px; }

.newsfeed__item {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc; }
  .newsfeed__item__title {
    font-size: 1.1vw;
    display: block;
    text-align: left; }
    @media only screen and (max-width: 700px) {
      .newsfeed__item__title {
        font-size: 3.5vw; } }

.banner {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  min-height: 80vh; }

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 6.5vw;
    letter-spacing: 4px; }
  h2 {
    font-size: 6vw;
    letter-spacing: 3px; }
  h3 {
    font-size: 5.5vw;
    letter-spacing: 2px; }
  h4 {
    font-size: 5vw;
    letter-spacing: 2px; }
  h5 {
    font-size: 4.5vw;
    letter-spacing: 2px; }
  h6 {
    font-size: 4vw;
    letter-spacing: 2px; }
  p {
    font-size: 3.5vw;
    letter-spacing: 1px; } }
